.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.themed-grid-col {
  padding-top: .45rem;
  padding-bottom: .45rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(99, 99, 102);
}
.col {
  padding-right: 5px;
  padding-left: 0.1em;
}
hr {
  border-color: rgba(99, 99, 102);
}
body {
  background:#2c2c2e;
  color:#e5e5ea;
}
.oneline_text {
  white-space: nowrap; 
  overflow: scroll;
}
.text_table_pos {
  margin-left: -10px;
}
.table_block {
  background: #424242;
  padding: 1.5em;
  padding-right: 0;
  padding-left: 0.8em;
  border-radius: 0.8em;
  padding-bottom: 0;
  padding-top: 0;
}
.table_head {
  padding-left: 0.7em;
}
.container {
  padding: 8% !important;
}
a {
  color: #8e8e8e;
}
a:visited {
  color: #8e8e8e;
}
a:focus {
  color: #ececec;
}
a:hover {
  color: #ececec;
}
a:active {
  color: #cfcfcf;
}
.header-second {
  position: relative;
  display: flex;
  justify-content: center;
}
.header-menu {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin-top: 15px !important;
}
.header-menu-item {
  position: relative !important;
  cursor: pointer !important;
}
.link_header_ {
  margin: 0 !important;
  padding: 0 !important;
  border: 0 !important;
  vertical-align: baseline !important;
  text-decoration: none !important;
  margin: 5px !important;
}
ol, ul {
  list-style: none;
}
@media only screen and (min-width: 9999px) {
  .header-menu {
      width: calc(100vw - 110px);
  }
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.header-menu-item:not(:hover)::after {
  -webkit-transform: scalex(0);
  transform: scalex(0);
}
.header-menu-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -3px;
  background: #fff;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #2c2c2e;
}
::-webkit-scrollbar-thumb {
  background: #939393;
  border-radius: 8px;
  border: 4px solid #2c2c2e;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c7c7c;
}
.noselect {
  user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.error_text {
  color: #fff;
  line-height: 36px !important;
  margin-left: 5px;
  font-size: calc(12px + (18 - 14) * ((100vw - 680px) / (1024 - 480)));
}
.error_box {
  bottom: 0;
  position: fixed;
  background: #2d2d2d;
  width: 100%;
  height: 40px;
  transition: margin-bottom 0.2s;
}
