.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}
.themed-grid-col {
  padding-top: .45rem;
  padding-bottom: .45rem;
  background-color: rgba(0, 0, 0, 0);
  border-top: 1px solid rgba(99, 99, 102);
}
.col {
  padding-right: 5px;
  padding-left: 0.1em;
}
hr {
  border-color: rgba(99, 99, 102);
}
body {
  background:#2c2c2e;
  color:#e5e5ea;
}
.oneline_text {
  white-space: nowrap; 
  overflow: scroll;
}
.text_table_pos {
  margin-left: -10px;
}
.table_block {
  background: #424242;
  padding: 1.5em;
  padding-right: 0;
  padding-left: 0.8em;
  border-radius: 0.8em;
  padding-bottom: 0;
  padding-top: 0;
}
.table_head {
  padding-left: 0.7em;
}
.container {
  padding: 8% !important;
}
.currency_button {
  color: #a6a6a6;
}
.currency_button:visited {
  color: #545454;
}
.currency_button:focus {
  color: #ececec;
}
.currency_button:hover {
  color: #ececec;
}
.currency_button:active {
  color: #cfcfcf;
}
.header-second {
  position: relative;
  display: flex;
  justify-content: center;
}
.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin-top: 15px!important;
}
.header-menu-item {
  position: relative;
  cursor: pointer;
}
.link_header_ {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  text-decoration: none;
  margin: 5px;
}
ol, ul {
  list-style: none;
}
@media only screen and (min-width: 9999px) {
  .header-menu {
      width: calc(100vw - 110px);
  }
}
li {
  display: list-item;
  text-align: -webkit-match-parent;
}
.header-menu-item:not(:hover)::after {
  -webkit-transform: scalex(0);
  transform: scalex(0);
}
.header-menu-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -3px;
  background: #fff;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s,-webkit-transform .5s;
}
